body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333131;
    margin: 0;
    padding: 0;
}


h1 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(34, 34, 34);
    font-size: 30pt;
    padding: 10px;
    margin: 0;
    text-align: center;
}    

.form-container {
    background-color: #2c292c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: aliceblue;
}

input[type=text],
input[type=number],
select,
input[type=range] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: aliceblue;
    background-color: #585158;
    box-sizing: border-box;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 5px;
    background: #585158;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #65057293;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #65057293;
    cursor: pointer;
}

input[type=submit] {
    font-size: 16px;
    background-color: #65057293;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #65057293;
}

#importanceValue {
    margin-left: 10px;
    font-weight: bold;
    background-color: #333;
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
}

/* Úprava vzhledu tabulky */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2e2e2e;
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: #474247;
    color: aliceblue;
}

tr:hover {
    background-color: #777777;
}

/* Přidáváme trochu paddingu na stránky pro lepší vzhled */
.container {
    max-width: 960px;
    margin: auto;
    background-color: #2c292c;
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #1f1d1d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}